
.cardgrid{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.emptyList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    span,svg{
      font-size: var(--h2-sz);
       
    } 
  }