.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 .hide {
    display: none;
    pointer-events: none;
  }
  
  .modal_content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(108, 205, 218) ;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    padding: 20px;
    overflow-y: auto;
  }